.product-card {
  display: inline-block;
  height: 290px;
  width: 300px;
  background-color: grey;
  padding: 0;
  margin:5px;
  border-radius: 5px;
}


.card-details {
  margin: 5px;
  color: lightgrey;
}

.index-product-name {
  text-align: center;
  margin: 0 0 10px 0;
}

.buy-button {
  float: right;
}

.testing {
  color: red;
}

.index-buttons {
  float: right;
  margin-top: 30px;
}

.center-text {
  text-align: center;
}

.price-color {
  color: #00FF00;
}

.bold {
  font-weight: bold;
}

.price-font-size {
  font-size: 1.5em;
  font-weight: bold;
  color: #00FF00; 
}

.grey {
  background-color: grey;
  height: 400px;
  color: white;
  border-radius: 5px;
}

.back-button {
  margin: 50px 0 0 200px;
}

.margin-top {
  margin-top: 50px;
}