
<div class='product-card col-sm-3'> 
  <div class='card-details'>
    <h3 class='bold index-product-name'><%= @product[:name] %></h3>    

    <h5 class='show-product-description'>Description:</h5>
    <h3><%= @product[:description] == '' ? "Coming Soon" : @product[:description] %></h3>
    
    <h5 class='show-product-price'>Price: <span class='price-color'>$ <%= @product[:base_price] == '' ? " Not Listed" : @product[:base_price] %></span></h5>

    <div class='index-buttons'>
      <button id='buy' data-id=<%= @product[:id] %> class='btn btn-success index-button'>Take my money!</button>
    </div>
  </div>
</div>
