<div id='home_page' class="jumbotron col-sm-12 jumbo-div">
  <h1 class='margin-top'>My AJAX Shop</h1>
  <h4>Take a look at what we have to offer!</h4>
  <a class="shop_now_button index-button btn btn-primary btn-lg" href="" role="button">Shop Now</a>
</div>

<div id='products' class='col-sm-10 col-sm-offset-1 hidden'></div>  


<div id='show_product' class='col-sm-6 col-sm-offset-3 hidden grey'>
  <h1 id='product_name' class='center-text'></h1>
  <p class='margin-top'>Description:</p>
  <h4 id='product_description'></h4>
  <h4 class='margin-top'>Price:</h4>
  <h4 id='product_price' class='price-font-size price-color'></h4>
  <div id='admin_buttons' class='admin-buttons'>
    <button id='back_button' class='btn btn-primary'>Back</button>
    <button id='delete' class='btn btn-danger'>Delete</button>
    <button id='edit' class='btn btn-warning'> Edit</button>
  </div>
</div>

<div id='form_div' class='hidden'>
  <div class='col-sm-6 col-sm-offset-3'>
    <form id='new_product_form'>
      <h3 id='form_name'></h3>
      <label>Name:</label>
      <br />
      <input size='45' id='product_name' name='product[name]' type='text' />
      <br />
      <label>Description:</label>
      <br />
      <textarea cols="44" rows="15" id='product_description' name='product[description]' type='textarea'> </textarea>
      <br />
      <label>Price:</label>
      <br />
      <input placeholder='$0.00' id='product_price' name='product[base_price]' type='dollar' />
      <br />
      <button id='add_product_btn' type='submit' class='btn btn-success save-product-button'>Save Product</button>
    </form>
  </div>

</div>
