
<div id='products'>
  <h3>Products</h3>
</div>  


<div id='show_product' class='col-md-6 col-md-offset-5 hidden'>
  <h1 id='product_name'></h1>
  <h4 id='product_description'>Description: </h4>
  <h4 id='product_price'>Price: $</h4>
  <button id='back_button' class='btn btn-primary'>Back</button>

</div>
  
  