<nav class="navbar navbar-inverse bg-faded">
  <a class="navbar-brand home_page_button" href="">My Ajax Shop</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link shop_now_button" href="">Shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id='new_product' href="">New Product</a>
    </li>
  </ul>
  </form>
</nav>